*{
    box-sizing: border-box;
}

body{
    margin: 0
}

a{
    text-decoration: none;
}

.clear{
    clear:left
}

.header{
    background-color: aqua;
    height: 200px;
    width: 100%;
}

.header-logo{
    font-size: 40px;
    color: blueviolet;}

.header-list ul{
    font-size: 30px;
    padding: 30px 40px 30px 40px;
    display: inline-block;
}


.top-wrapper{
    display: inline-block;
    background-image:url(photo0000-2599.jpg) ;
    height: 100px;
}

.profile {
    background-image: url(photo0000-5000.jpg);
}

.profile h1{
    text-align: center;
    font-size: 60px;
}

.profile h2{
    display: inline-block;
    font-size: 30px;
}

.profile p{
    text-align: center;
    font-size: 60px;
    color:blue;

}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    display: inline-block;
    text-align: center;
}

