*{
    box-sizing: border-box;
}

body{
    margin: 0
}

a{
    text-decoration: none;
}

.clear{
    clear:left
}

.header{
    background-color: aqua;
    height: 300px;
    margin: 0;
}

.header-logo{
    font-size: 80px;
    color: blueviolet;}

ul{
    text-align: center;
    font-size: 40px;
}

.slider{
    width: 1200px;
    height: 700px;
    overflow: hidden;
    margin: 0 auto;
}

.slider-item{
    width: 400px;
    float: left;
}

img{
    width: 100%;
}

.slider-inner{
    width: 300%;
    animation: slider 15s infinite ease;
}

@keyframes slider{
    0%{
        transform: translateX(1);
    }

    33%{
        transform: translateX(-300px);
    }

    66%{
        transform: translateX(-600px);
    }

    100%{
        transform: translateX(1);
    }

}


.top-wrapper{
    background-image:url(photo0000-5000.jpg) ;
    background-size: cover;
    height: 768px;
    margin: 0;
}

.profile {
    background-image: url(photo0000-2599.jpg);
    height: 768px;
    background-size: cover;
    margin: 0;
}

.profile h1{
    text-align: center;
    font-size: 60px;
    color:blue;
    text-shadow: 1px 1px 8px white;
}

.profile h2{
    display: inline-block;
    font-size: 30px;
    color: azure;
    text-shadow: 1px 1px 8px white;
}

.profile p{
    text-align: center;
    font-size: 60px;
    color:white;
    text-shadow: 1px 1px 8px whitesmoke;
}

.video-wrapper {
    position: relative;
    height: 100px;
    padding-bottom: 56.25%;
    display: inline-block;
    text-align: center;
    margin: 0;
}

