*{
    box-sizing: border-box;
}

body{
    margin: 0
}

a{
    text-decoration: none;
}

.clear{
    clear:left
}

.header{
    background-color: aqua;
    height: 200px;
    width: 100%;
}

.header-logo{
    font-size: 40px;
    color: blueviolet;}

.header-list{
    display: flex;
    justify-content: space-between;
}

.header-list ul{
    font-size: 30px;
    padding: 30px 40px 30px 40px;
    flex: auto;
}


.top-wrapper{
    background-image:url(photo0000-5000.jpg) ;
    height: 500px;
    width: 100%;
    background-size: cover;   
    display: inline-block;
}

.container{
    width: 33%;
}

.container img{
    mix-blend-mode: multiply;
}

.profile {
    background-image: url(photo0000-2599.jpg);
    height: 500px;
    width: 100%;
    background-size: cover;
}

.profile h1{
    text-align: center;
    font-size: 60px;
    color:azure
}

.profile h2{
    display: inline-block;
    font-size: 30px;
    color: azure
}

.profile p{
    text-align: center;
    font-size: 60px;
    color:white;

}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    padding-bottom: 56.25%;
    display: inline-block;
    text-align: center;
}
